!**/.gitkeep

.venv
.idea
**/*.log
**/cache
**/dataset
**/secrets.txt
**/secrets.json
**/.secrets.json
**/__pycache__
**/wandb
**/models/*
**/.ipynb_checkpoints

wikiprefs/data/*
wikiprefs/tmp/*
test/resources/diffs_collection/results/*
