test/resources/diffs_collection/Armenian[[:space:]]genocide__removed_text.xml filter=lfs diff=lfs merge=lfs -text
test/resources/diffs_collection/Baseball_multiple_lists.xml filter=lfs diff=lfs merge=lfs -text
test/resources/diffs_collection/Leonhard[[:space:]]Euler.xml filter=lfs diff=lfs merge=lfs -text
test/resources/diffs_collection/Logarithm.xml filter=lfs diff=lfs merge=lfs -text
test/resources/diffs_collection/Seorsumuscardinus.xml filter=lfs diff=lfs merge=lfs -text
test/resources/diffs_collection/1988[[:space:]]World[[:space:]]Snooker[[:space:]]Championship.xml filter=lfs diff=lfs merge=lfs -text
test/resources/diffs_collection/Alfred[[:space:]]Russel[[:space:]]Wallace__context.xml filter=lfs diff=lfs merge=lfs -text
test/resources/diffs_collection/Aliens__context.xml filter=lfs diff=lfs merge=lfs -text
test/resources/diffs_collection/Augustus.xml filter=lfs diff=lfs merge=lfs -text
test/resources/diffs_collection/Science[[:space:]]Fiction[[:space:]]Adventures[[:space:]](1956[[:space:]]magazine).xml filter=lfs diff=lfs merge=lfs -text
test/resources/diffs_collection/test_reverts.xml filter=lfs diff=lfs merge=lfs -text
test/resources/diffs_collection/Elvis[[:space:]]Presley.xml filter=lfs diff=lfs merge=lfs -text
test/resources/diffs_collection/Germany.xml filter=lfs diff=lfs merge=lfs -text
test/resources/diffs_collection/test_xml.xml filter=lfs diff=lfs merge=lfs -text
test/resources/diffs_collection/Aaliyah__context.xml filter=lfs diff=lfs merge=lfs -text
test/resources/diffs_collection/Alice[[:space:]]in[[:space:]]Chains__quote.xml filter=lfs diff=lfs merge=lfs -text
test/resources/diffs_collection/Alice[[:space:]]in[[:space:]]Chains.xml filter=lfs diff=lfs merge=lfs -text
test/resources/diffs_collection/Aliens__cast.xml filter=lfs diff=lfs merge=lfs -text
test/resources/diffs_collection/Dish-bearers[[:space:]]and[[:space:]]butlers[[:space:]]in[[:space:]]Anglo-Saxon[[:space:]]England.xml filter=lfs diff=lfs merge=lfs -text
test/resources/npov_edits/meta-history-stub.xml.gz filter=lfs diff=lfs merge=lfs -text
wikiprefs/resources/rendered_templates.yml filter=lfs diff=lfs merge=lfs -text
